 * {
   box-sizing: border-box;
 }

 body {
   margin: 0 auto;
   background: linear-gradient(90deg, rgb(0, 0, 0), rgb(2, 0, 32), rgb(5, 0, 73)   ) no-repeat;
   background-size: cover;
 }

 .Navbar {
   width: 100%;
   background-color: white;
   overflow: auto;
 }

 .Navbar a {
   float: right;
   text-align: center;
   color: black;
   padding: 18px 10px;
   margin: 0px 3px;
   text-decoration: none;
   font-size: 15px;
 }

 .Navbar a:hover,
 .Navbar a:active {
   background-color: black;
   color: white;
   text-decoration: none;
 }

 .Navbar .icon {
   display: none;
 }

 .logo {
   float: left;
 }

 img.logo {
   width: 50px;
   transform: translate(10px, 5px);
 }

 @media screen and (max-width: 600px) {
   .Navbar a {
     display: none;
   }

   .Navbar a.icon {
     float: right;
     display: block;
   }

   .Navbar a.icon:hover {
     background-color: white;
     color: black;
   }
 }

 @media screen and (max-width: 600px) {
   .Navbar.responsive {
     position: relative;
   }

   .Navbar.responsive a.icon {
     position: absolute;
     right: 0;
     top: 0;
   }

   .Navbar.responsive a {
     float: none;
     display: block;
     text-align: left;
   }
 }

 .flex {
   float: right;
   background-color: white;
   transform: translate(-50px, 50px);
   padding: 22px 10px 10px 10px;
   border-radius: 20px;
 }

 /* Style the input container */
 .input-container {
   width: 350px;
   margin-bottom: 15px;
 }

 /* Style the form icons */
 .icon {
   color: white;
   min-width: 10px;
   text-align: center;
 }

 /* Style the input fields */
 .input-field {
   width: 100%;
   padding: 10px;
   outline: none;
   height: 38px;
 }

 .input-field:focus {
   border: 0.5px solid dodgerblue;
 }

 p {
   font-size: 15px;
   text-align: center;
   padding: 20px;
 }

 .form_name {
   font-size: 25px;
   color: dodgerblue;
   text-align: center;
   padding: 10px 0px;
   margin-top: 20px;
 }

 /* Set a style for the submit button */
 .btn_submit {
   background-color: dodgerblue;
   color: white;
   padding: 15px 20px;
   border: none;
   cursor: pointer;
   width: 350px;
   opacity: 0.9;
 }

 .btn_submit:hover {
   opacity: 1;
 }

 img {
   width: 63px;
   position: relative;
   float: right;
 }

 .input-field[type] {
   color: dodgerblue;
 }