html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    display: table;
    /* background: linear-gradient(90deg, rgb(0, 0, 0), rgb(2, 0, 32), rgb(5, 0, 73)   ) no-repeat; */
}

.logo {
    position: relative;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

img.brand {
    width: 60px;
}


@media screen and (max-width: 800px) {

    img.brand {
        width: 40px;
    }
}

@media screen and (min-width: 801px) and (max-width: 1024px) {

    img.brand {
        width: 50px;
    }
}

img{
    animation: breathingBrand cubic-bezier(0.4, 1, 0.8, 0.2) 1.8s infinite 1s alternate ;
}

@keyframes breathingBrand {
    0%{ 
        transform: none;
    }
    50%{
        transform: none;
    }
    100%{
        transform: none;
    }

}
